# クレンジングの統合

これまでは各変量のクレンジングを行ってきましたが，ここではそれらを統合したプロセスにします．

In [1]:
import re
import unicodedata
import pandas as pd

In [2]:
df = pd.read_csv('original_body_data.csv')
df.set_index('person',inplace=True)

# マイナス記号がある場合のオプション
d2s = {'‐':'-','―':'-','ー':'-'}
doubleToSingle = str.maketrans(d2s)

In [3]:
floatCheck = re.compile(r'^\s*([+-]?(\d+\.?\d*|\.\d+))\s*$')

In [4]:
len(df)

200

In [5]:
df.index

Index(['p001', 'p002', 'p003', 'p004', 'p005', 'p006', 'p007', 'p008', 'p009',
       'p010',
       ...
       'p191', 'p192', 'p193', 'p194', 'p195', 'p196', 'p197', 'p198', 'p199',
       'p200'],
      dtype='object', name='person', length=200)

In [6]:
df.columns

Index(['height', 'weight', 'age', 'gender', 'blood'], dtype='object')

In [7]:
df.describe()

       height weight  age  gender blood
count     200    199  197     199   190
unique    160    175   68       7    13
top     157.3   76.3   48  Female     A
freq        4      3    7     101    67

In [8]:
df.head(5)

         height weight age  gender blood
person
p001      157.7   56.8  20    Male     B
p002      169.7   58.1  53  Female     A
p003      160.6   96.8  22    Male     O
p004    '155.8'             Female     O
p005      115.5   22.5   7    Male   NaN

*****
## 変量のクレンジング

変量のクレンジングについては，処理の可読性を重視して各変量ごとにクレンジングを実施します．

しかし，変量の個数が多い場合は行のループを1回にして，その中で全ての変量についてクレンジングを行うようなプロセスに変更した方が効率的になります．
ただし，バグが発生するリスクも高くなるので注意が必要です．

### height のクレンジング

In [9]:
df['cleansedHeight'] = [unicodedata.normalize('NFKC',x.strip("'")) for x in df.height]
df['height'] = [float(x) if floatCheck.fullmatch(x) else None for x in df.cleansedHeight]
df.drop('cleansedHeight',axis=1,inplace=True)

### weight のクレンジング

In [10]:
df['cleansedWeight'] = [unicodedata.normalize('NFKC',x.strip("'")) if type(x)==str else x for x in df.weight]
df['weight'] = [float(x) if type(x)==str and floatCheck.fullmatch(x) else None for x in df.cleansedWeight]
df.drop('cleansedWeight',axis=1,inplace=True)

### age のクレンジング

In [11]:
df['cleansedAge'] = [unicodedata.normalize('NFKC',x).strip("'").strip() if type(x)==str else x for x in df.age]
df['age'] = [int(x) if type(x)==str and x.isdecimal() else None for x in df.cleansedAge]
df.drop('cleansedAge',axis=1,inplace=True)

### gender のクレンジング

In [12]:
df['gender'] = [unicodedata.normalize('NFKC',x).strip().capitalize() if type(x)==str else x for x in df.gender]

### blood のクレンジング

In [13]:
df['blood'] = [unicodedata.normalize('NFKC',x).strip().upper() if type(x)==str else x for x in df.blood]

*****
## クレンジング結果の確認

In [14]:
df.columns

Index(['height', 'weight', 'age', 'gender', 'blood'], dtype='object')

In [15]:
df.describe()

            height      weight         age
count   200.000000  198.000000  196.000000
mean    169.107500   67.364646   40.066327
std     103.481227   17.181526   16.338744
min      77.300000    9.900000    1.000000
25%     155.250000   55.650000   29.000000
50%     162.350000   66.800000   39.500000
75%     170.750000   77.650000   52.250000
max    1609.000000  106.500000   79.000000

In [16]:
df.gender.describe()

count        199
unique         2
top       Female
freq         103
Name: gender, dtype: object

In [17]:
set([x for x in df.gender])

{nan, 'Female', 'Male'}

In [18]:
df.blood.describe()

count     190
unique      4
top         A
freq       71
Name: blood, dtype: object

In [19]:
set([x for x in df.blood])

{nan, 'A', 'AB', 'O', 'B'}

In [20]:
df.tail(4)

        height  weight   age  gender blood
person
p197     174.9    73.5  72.0    Male     A
p198     165.0    58.7  40.0  Female     O
p199     184.5    92.8  37.0    Male     B
p200     173.9    97.7  55.0    Male     O

## クレンジング済みデータのCSVファイルへの保管

In [21]:
df.to_csv('./cleansed_body_data.csv')


*****